mixin productCard2(p, delay)
  .product-card-v2(style=`animation-delay:${delay}s`)
    
    .product-img-wrap-v2(style=`background:${p.bg}`)
      img.product-img-v2(src=p.image alt=p.name)

    .product-body-v2
      h5.product-name-v2= p.name

      ul.price-list-v2
        each v in p.variants
          li.price-row-v2
            p.span.label-v2= v.label
            p.span.price-v2= v.price.toLocaleString() + 'W'